* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: rgb(183, 211, 212);
}
#app > * {
  padding-inline: 3rem;
}

input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(77, 124, 124);
  color: white;
  margin-block: 1rem;
}

/* ------------------ */
